{% extends 'base.html.twig' %}

{% block title %}Seance
{% endblock %}

{% block body %}
	{% for seance in list %}
		{% apply inline_css(source("styles/films.css"), source("styles/global.css")) %}
		<div class="seance_list_container">
			<ul class="film_ul">
				<li class="film_li">
					<div class='film_gender {{seance.film.gender}}'>Théme:
						{{ seance.film.gender }}</div>
					<h2 class="film_title">
						<div>{{ seance.film.title }}</div>
						<img class="film_img" src={{seance.film.image}} alt="">
					</h2>


					<div>{{ seance.film.director }}</div>
					<div class="button_container">

						<button class="button oneFilm">
							<a href="{{path('one_film', {'id': seance.film.id}) }}">Description</a>
						</button>
					</div>
				</li>
			</ul>
		</div>
		{% endapply %}
	{% endfor %}
{% endblock %}
