{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Formulaire"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/form.css"), source("styles/global.css")) %}
	<div class="form_container">
		{% if isEditor %}
			<h1 class="form_title">Changer un film</h1>
		{% else %}
			<h1 class="form_title">Ajouter un film</h1>
		{% endif %}
		{{form_start(form)}}

		{{form_row(form.title, {'label': 'Titre'})}}

		{{form_row(form.director,{'label': 'Réalisateur'})}}

		{{form_row(form.gender,{'label': 'Genre'})}}

		{% if isEditor %}
			<div class="form_button">
				{{form_row(form.save,{'label': 'Changer'})}}
			</div>
		{% else %}
			<div class="form_button">
				{{form_row(form.save,{'label': 'Ajouter'})}}
			</div>
		{% endif %}

		{{form_end(form)}}
	</div>
	{% endapply %}
{% endblock %}
