{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Films"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/films.css"), source("styles/global.css")) %}
	<div class="film_container">
		<div class="title_container">
			<h1 class="title">Il y'a
				{{ filmNumber }}
				films de disponible</h1>
			<form action="" method="post" class="film_select">
				{% if sort == false %}
					<select type="submit" name="gender" id="gender_Select">
						<option value="">Genre des films</option>
						{% for genre in genres %}

							<option value={{ genre }}>{{ genre }}</option>
						{% endfor %}
					</select>
				{% endif %}
				<input type="submit" value={{sort ? "retour" : "trier"}}>
					<a href={{sort ? "/readFilm" : "/sortFilms"}}></a>
				</input>
			</form>
		</div>
		{% if films|length == 0 %}
			Pas de film disponnible
		{% endif %}
		<ul class="film_ul">
			{% for film in films %}
				{% include "films/filmcard.html.twig" %}
			{% endfor %}
		</ul>
		<button class="create_button">
			<a href="formulaire">Ajouter un film</a>
		</button>
	</div>
	{% endapply %}
{% endblock %}
