<li class="film_li">
	<div class="film_status">{{film.status}}</div>
	<div class='film_gender {{film.gender}}'>Théme:
		{{ film.gender }}</div>
	<h2 class="film_title">
		<a href="{{path('one_film', {'id': film.id}) }}">{{ film.title }}</a>
		<img class="film_img" src={{film.image}} alt="">
	</h2>


	<div>{{ film.director }}</div>
	{{ seance.getDateDebut()|format_datetime(locale='fr')}}
	<div class="button_container">
		<button class="button delete">
			<a href="{{path('delete_film', {'id': film.id}) }}">Supprimer</a>
		</button>
		<button class="button update">
			<a href="{{path('update_film', {'id': film.id}) }}">update</a>
		</button>
		<button class="button oneFilm">
			<a href="{{path('one_film', {'id': film.id}) }}">Description</a>
		</button>
	</div>
</li>
