{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Films"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/films.css"), source("styles/global.css")) %}
	<div class="film_container">
		<div class="title_container">
			<h1 class="title">page des Films</h1>
			<form action="" method="POST">
				<select type="submit" name="gender" id="gender_Select">
					<option value="">Genre des films</option>
					{% for film in films %}
						<option value={{film.gender}}>{{ film.gender }}</option>
					{% endfor %}
				</select>
				<button>rechercher</button>
			</form>
		</div>
		{% if films|length == 0 %}
			Pas de film disponnible
		{% endif %}

		<ul class="film_ul">
			{% for film in films %}
				<li class="film_li">
					<h2>{{ film.title }}</h2>

					<div class={{film.gender}}>{{ film.gender }}</div>

					<div>{{ film.director }}</div>
				</li>
			{% endfor %}
		</ul>
		<button class="create_button">
			<a href="formulaire">Ajouter un film</a>
		</button>
	</div>
	{% endapply %}
{% endblock %}
