{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Films"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/films.css"), source("styles/global.css")) %}
	<div class="film_container">
		<div class="title_container">
			<h1 class="title">page des Films</h1>
			<form action="" method="POST">
				<select type="submit" name="gender" id="gender_Select">
					<option value="">Genre des films</option>
					{% for genre in genres %}

						<option value={{ genre }}>{{ genre }}</option>
					{% endfor %}
				</select>
				<button>
					<a href="sortFilms">rechercher</a>
				</button>
			</form>
		</div>
		{% if films|length == 0 %}
			Pas de film disponnible
		{% endif %}

		<ul class="film_ul">
			{% for film in films %}
				<li class="film_li">
					<div class='film_gender {{film.gender}}'>Genre :{{ film.gender }}</div>
					<h2 class="film_title">
						<a href="oneFilm/{{film.id}}">{{ film.title }}</a>
					</h2>


					<div>{{ film.director }}</div>
					<div class="button_container">
						<button class="button delete">
							<a href="deleteFilm/{{film.id}}">Supprimer</a>
						</button>
						<button class="button update">
							<a href="updateFilm/{{film.id}}">update</a>
						</button>
						<button class="button oneFilm">
							<a href="oneFilm/{{film.id}}">Voir</a>
						</button>
					</div>
				</li>
			{% endfor %}
		</ul>
		<button class="create_button">
			<a href="formulaire">Ajouter un film</a>
		</button>
	</div>
	{% endapply %}
{% endblock %}
