{% extends "base.html.twig" %}

{% block title %}
	<title>{{film.title}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/form.css"), source("styles/global.css")) %}
	<div class="d-flex flex-column flex-wrap justify-content-center align-items-center">
		<h1 class="w-100 p-3 text-center">Description du film</h1>
		<div class="d-flex flex-column">
			{% if salle %}
				<div class="m-5">Salle N°{{ salle[0].numero }}</div>
			{% endif %}
			{% if salle == null %}
				<div class="m-5">Pas de salle disponible</div>
			{% endif %}
		</div>
		<div class="card" style="width: 18rem;">
			<img src={{film.image}} class="card-img-top" alt="banniere">
			<h5 class="card-title">{{ film.title }}</h5>
			<div>{{ film.gender }}</div>
			<h6 class="card-subtitle mb-2 text-muted">{{ film.director }}</h6>
			<p class="card-text">{{ film.description }}</p>
		</div>
	</div>
	{% endapply %}
{% endblock %}
