{% extends "base.html.twig" %}

{% block title %}
	<title>{{"Accueil"}}</title>
{% endblock %}

{% block body %}
	{% apply inline_css(source("styles/accueil.css"),source("styles/global.css")) %}
	<div>
		<h1 class="title">Voici les salles de notre cinéma</h1>
		<div class="salle_container">
			{% for salle in salles %}
				<div class="salle_card {{salle.status == 0 ? " disable" : " " }}">
					<h2 class="salle_title">
						salle numéro:
						{{ salle.numero }}
					</h2>
					{% if salle.status == 1 %}
						<a href="{{ path("seance_list", {'id' : salle.id}) }}">
							<div class="status open">Disponible</div>
						</a>
					{% else %}
						<div class="status close">
							Non disponible</div>
					{% endif %}
					<div class="btn btn-primary m-1">
						<a href="{{ path("salle_edit", {'id' : salle.id}) }}">ouvrir ou fermer un salle</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{% endapply %}
{% endblock %}
